<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'practice_page' %}">Practice</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'exam_page' %}">Exam</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'history_page' %}">History</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'tts_page' %}">TTS</a>
            </li>
        </ul>
    </div>
</nav>
