{% extends 'base.html' %}

{% block title%}
Make your Speaking better with us
{% endblock %}

{% block body %}
    <div class="container row">
        <div class="col-3">
            <form action="{% url 'selected_question' %}" method="post">    
                {% csrf_token %}
                {{choices.question_types}}       
            </form>
        </div>

        <div class="col-1">
            <form action="{% url 'random_question' %}" method="post">    
                {% csrf_token %}
                <button type="submit" class="btn btn-info btn-ss">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>                                
            </form>
        </div>

        <div class="col-1 offset-5">
            <button id="add_question_button" type="submit" class="btn btn-danger btn-ss">
                <span class="glyphicon glyphicon-plus"></span> Add                 
            </button>  
        </div> 

        <div class="col-1">
            <form action="{% url 'delete_question' %}" method="post" action="/y/b/" enctype="multipart/form-data"onsubmit="return confirm('Do you really want to delete this question?');">   
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary btn-ss">
                    <span class="glyphicon glyphicon-trash"></span> Del                 
                </button>  
            </form>
        </div> 
    </div>

    <div class="container row">
        <div class="col-11">
            <h3> Question 
                <audio id="question_audio">
                    <source src="http://220.88.28.198/~jake/{{question_type}}.mp3" type="audio/mpeg">
                </audio>
                <button id ="play_question_button" type="submit"class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-play"></span>                   
                </button>
            </h3>
        </div>

        <div class="col-11">
            <p class="opic-question" rows=5> &nbsp; - {{question}} </p> 
        </div>  
    </div>   
        
    <form action="{% url 'update_question' %}" method="post">
        <div class="container row">
            <div class="col-6">
                <h3> Sample Answer
                    {{note.sample_answer}}
                </h3>
            </div>

            <div class="col-5"> 
                <h3> Description
                    {{note.description}}
                </h3>
            </div>
        </div>

        <div class="container row">
            <div class="col-2 offset-10"> 
                    {% csrf_token %}  
                    <button type="submit" class="btn btn-success btn-ss">
                        Update<span class="glyphicon"></span>                 
                    </button>  
            </div>
        </div>
    </form>
    
    <div id="add_question_modal" class="opic-modal">
        <form action="{% url 'add_question' %}" method="post">  
            {% csrf_token %} 
            <div class="opic-modal-content">
                <div class="container" style="width:100%">
                    <div class="col-1 offset-11">
                        <button id="add_question_modal_close" class="btn btn-btn-default_if_none btn-ss">
                            <span class="glyphicon glyphicon-">&times</span>                 
                        </button>
                    </div>
                    <div class="col-12">   
                        <H2>Add New Question </H2>
                    </div>
                    <br>
                    <div class="col-12">
                        <H4>Type</H4>
                        {{question_adding_form.types}}
                    </div>
                    <div class="col-12">
                        <H4> Question </H4>
                        {{question_adding_form.question}}
                    </div>
                    <div class="offset-10 col-1">
                        <button id="add_question_save_button" type="submit" class="btn btn-primary btn-ss">
                            Save <span class="glyphicon glyphicon-save"></span>                 
                        </button>
                    </div>  
                </div>
            </div>
        </form>
    </div>
{% endblock %}