{% extends 'base.html' %}

{% block title%}
Make your Speaking better with us
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4">
            <form action="{% url 'selected_question' %}" method="post">    
                {% csrf_token %}
                {{title_choice_form.titles}}  
            </form>
        </div>

        <div class="col-1">
            <form action="{% url 'random_question' %}" method="post">    
                {% csrf_token %}
                <button type="submit" class="opic-lbutton btn btn-info btn-ss">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>                                
            </form>
        </div>

        <div class="col-1 offset-5">
            <button id="add_question_button" type="submit" class="opic-rbutton btn btn-danger btn-ss">
                <span class="glyphicon glyphicon-plus"></span> Add
            </button>  
        </div> 

        <div class="col-1">
            <form action="{% url 'delete_question' %}" method="post" action="/y/b/" enctype="multipart/form-data"onsubmit="return confirm('Do you really want to delete this question?');">   
                {% csrf_token %}
                <button type="submit" class="opic-rbutton btn btn-secondary btn-ss">
                    <span class="glyphicon glyphicon-trash"></span> Del
                </button>  
            </form>
        </div> 
    </div>

    <div class="row">
        <div class="col-11">
            <h3> Question 
                <audio id="practice_question_audio">
                    <source src="http://220.88.28.198/~jake/{{question.title}}.mp3" type="audio/mpeg">
                </audio>
                <button id ="play_question_button" type="submit"class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-play"></span>                   
                </button>
            </h3>
        </div>

        <div class="col-11" >
            <p class="opic-question" rows=5> &nbsp; - {{question.question}} </p> 
        </div>  
    </div>   
        
    <form action="{% url 'update_question' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-7">
                <h3> Sample Answer
                    {{note_form.sample_answer}}
                </h3>
            </div>

            <div class="col-5"> 
                <h3> Description
                    {{note_form.description}}
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button type="submit" class="opic-rbutton btn btn-success btn-ss">
                    Update<span class="glyphicon"></span>
                </button>
            </div>
        </div>
    </form>
    
    <div id="add_question_modal" class="opic-modal">
        <div class="opic-modal-content">
            <div class="container" style="width:100%">
                <div class="col-1 offset-11">
                    <button id="add_question_modal_close" class="btn btn-btn-default_if_none btn-ss">
                        <span class="glyphicon glyphicon-">close&times</span>                 
                    </button>
                </div>
                <div class="col-12">   
                    <H2>Add New Question </H2>
                </div>
                <div class="col-12">   
                    <p id="p_warning" align="right" style="color:red;visibility:hidden"> </p>
                </div>
                
                <form onsubmit="return addQeustionValidate()" action="{% url 'add_question' %}" method="post">  
                    {% csrf_token %} 
                    <div class="col-4">
                        <H4>Type</H4>
                        {{question_adding_form.types}}
                    </div>
                    <div class="col-12">
                        <H4>Title</H4> 
                        {{question_adding_form.title}}
                    </div>
                    <div class="col-12">
                        <H4> Question </H4>
                        {{question_adding_form.question}}
                    </div>
                    <div class=" col-12">
                        <button id="add_question_save_button" class="opic-rbutton btn btn-primary btn-ss" type="submit"> 
                            Save <span class="glyphicon glyphicon-save"></span>
                        </button>
                    </div> 
                </form>
            </div>
        </div>
    </div>

    <script>
        var question_titles = {{ titles | safe }}
    </script>
    <script type="text/javascript" src="../static/js/practice_script.js"></script>
{% endblock %}